

<div class="content-header">
  <img src="assets/arreev-icon.png" height="32" style="margin-right:10px;margin-left:10px;">
  <div class="content-header-menu">
    <span class="content-header-menu-item">solutions</span>
    <span class="content-header-menu-item">news</span>
    <span class="content-header-menu-item">about</span>
  </div>
  <div class="content-actions">
    <!--<i class="fa fa-sign-in"></i>-->
    <!--<span class="content-header-menu-item" style="padding-left:0px;">sign in</span>-->
    <i class="fa fa-external-link"></i>
    <span class="content-header-menu-item" style="padding-left:0px;margin-right:5px;cursor:pointer;" (click)="onCreateAccount()">create account</span>
  </div>
  <button pButton type="button" icon="fa-cube" label="planner" (click)="onGoPlanner()" style="margin-right:10px;"></button>
</div>

<div class="ui-grid ui-grid-responsive ui-fluid">
  <div class="content-section-spacer"></div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-5">
      <div class="content-arreev-logo" [@logo-fade-in]>
        <img src="assets/arreev-icon.png" height="64">
      </div>
    </div>
    <div style="width:15px;"></div>
    <div class="ui-grid-col-7">
      <div class="content-arreev-letters" [@arreev-slide-in-stagger]="letters.length">
        <img *ngFor="let letter of letters" src="assets/{{letter}}.png">
      </div>
    </div>
  </div>

  <div class="content-section-spacer"></div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <div class="content-blurb-large">
        <u>Free</u> route planning and following solutions.
      </div>
    </div>
  </div>
  <div class="content-blurb-spacer"></div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <div class="content-blurb-small">
        Easy to use.&nbsp;&nbsp;<b style="color:black;">No</b> hardware required.&nbsp;&nbsp;<b style="color:black;">No</b> monthly fees.
      </div>
    </div>
  </div>

  <div class="content-section-spacer"></div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">&nbsp;</div>
    <div class="ui-grid-col-8">
      <div class="content-blurb-small">
        Arreev allows you to set up a travel path from your start to your destination ... your friends and family can track your progress until you arrive safely at your destination ... your GPS location is sent from <u>your phone</u> or your car's built-in <u>Android-Auto or CarPlay</u> system.
      </div>
    </div>
    <div class="ui-grid-col-2">&nbsp;</div>
  </div>

  <div class="content-section-spacer"></div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-5">&nbsp;</div>
    <div class="ui-grid-col-2">
      <div>
        <button pButton type="button"
                style="padding-top:10px;padding-bottom:10px"
                icon="fa-cube" label="Start Planning" (click)="onStartPlanning()">
        </button>
      </div>
    </div>
    <div class="ui-grid-col-5">&nbsp;</div>
  </div>

  <div class="content-section-spacer"></div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-2">&nbsp;</div>
    <div class="ui-grid-col-8">
      <img src="assets/image01.jpg" [@image-fade-in]>
    </div>
    <div class="ui-grid-col-2">&nbsp;</div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2">&nbsp;</div>
    <div class="ui-grid-col-8">
      <div style="text-align:right;">
        <!--<a href="..." target="_blank">-->
          <img src="assets/appstore.png" [@image-fade-in] height="48" (click)="onAppStore()" style="cursor:pointer;">
        <!--</a>-->
        <a href="https://play.google.com/store/apps/details?id=com.arreev.android" target="_blank" style="margin-right:20px;">
          <img src="assets/googleplay.png" [@image-fade-in] height="48">
        </a>
      </div>
    </div>
    <div class="ui-grid-col-2">&nbsp;</div>
  </div>


  <div class="content-section-spacer"></div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <div class="content-blurb-large">
        Private and secure - you choose who can follow you.
      </div>
    </div>
  </div>
  <div class="content-blurb-spacer"></div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-8">
      <div class="content-blurb-small">
        Taking a road trip ? Travel with peace of mind. Set up your route in the <i>arreev</i> planner, add your car, invite
        subscribers. Then your guests can follow your progress until you safely arrive at your destination.
      </div>
    </div>
    <div class="ui-grid-col-2"></div>
  </div>

  <div class="content-section-spacer"></div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <div class="content-blurb-large">
        Easy to use.
      </div>
    </div>
  </div>
  <div class="content-blurb-spacer"></div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-8">
      <div class="content-blurb-small">
        Have a side business renting bicycles at the beach ? Use <i>arreev</i> to manage your bikes and monitor
        their locations.
      </div>
    </div>
    <div class="ui-grid-col-2"></div>
  </div>

  <div class="content-section-spacer"></div>

  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <div class="content-blurb-large">
        Earn rewards.
      </div>
    </div>
  </div>
  <div class="content-blurb-spacer"></div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-8">
      <div class="content-blurb-small">
        Using public transportation ? Enable <i>u-track</i> feature (coming soon) on your mobile app so that others can follow. Get points and earn rewards.
      </div>
    </div>
    <div class="ui-grid-col-2"></div>
  </div>

  <div class="content-section-spacer"></div>
  <div class="content-section-spacer"></div>
  <div class="content-section-spacer"></div>
  <div class="content-section-spacer"></div>
  <div class="content-section-spacer"></div>

</div>

<div class="content-footer">
  <span class="content-footer-item">&copy;2018 arreev.com All rights reserved.</span>
</div>

<!-- CREATE ACCOUNT DIALOG -->
<p-dialog [(visible)]="showcreateaccountdialog" [width]="400" [modal]="true" [resizable]="true" appendTo="body">
  <p-header>
      Create new account.
  </p-header>

  <div *ngIf="!accountcreated" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <div class="field">
          <input [disabled]="working" pInputText type="email" placeholder="email" [(ngModel)]="email" (ngModelChange)="validation()"/>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <div class="field">
          <input [disabled]="working" pInputText type="password" placeholder="password" [(ngModel)]="password" (ngModelChange)="validation()"/>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <div class="field">
          <input [disabled]="working" pInputText type="password" placeholder="confirm password" [(ngModel)]="confirmpassword" (ngModelChange)="validation()"/>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <div class="create-message">
          &nbsp;{{accounterrormessage}}
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <div class="field">
          <input [disabled]="working" pInputText type="text" placeholder="first name" [(ngModel)]="firstname" (ngModelChange)="validation()"/>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <div class="field">
          <input [disabled]="working" pInputText type="text" placeholder="last name" [(ngModel)]="lastname" (ngModelChange)="validation()"/>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="startplanning" class="home-already">
    Already have an account ? <a href="https://my.arreev.com">Go to planner.</a>
  </div>

  <div *ngIf="accountcreated">
    <div>A verification email has been sent to: {{email}}</div>
    <div style="height:15px;"></div>
    <div>Please click on the link in that email to begin using your Arreev account.</div>
  </div>

  <div style="height:25px;"></div>

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <img *ngIf="working" src="assets/working.gif">
    </div>
    <div class="ui-toolbar-group-right">
      <span>&nbsp;</span>
      <img src="assets/arreev-icon.png" height="24" style="margin-right:5px;margin-left:5px;">
      <button *ngIf="!accountcreated" [disabled]="!accountinfovalidated || working" pButton type="button" label="create new account" icon="fa-plus-circle" (click)="onCreateAccountOK()"></button>
    </div>
  </p-toolbar>
</p-dialog>


<p-dialog [(visible)]="showcomingsoondialog" [modal]="true" [resizable]="false" appendTo="body">
  <p-header>
    Coming soon ...
  </p-header>
  <div>
    This feature will be available soon.
  </div>
</p-dialog>
