
html,body {
  margin: 0px;

  width: 100%;
  height: 100%;

  font-size: 1em !important;
  font-family: Roboto,sans-serif !important;

  background: #FFFFFF;
}

.spacer {
  flex: 1 1 auto;
}

.p-dialog {
  padding: 0;
}

.ui-toolbar {
  border: none;
  background-color: transparent;
  background: transparent;
}

